/**
 * This is a sample configuration file.
 * Make sure to make a copy and rename it to 'Configuration.js'.
 */
var Configuration = {

    // URL of the server to connect to.
    SERVER_URL: 'http://url.to.server',

    // Date/time format. See http://momentjs.com/docs/#/displaying/format/
    DATETIME_FORMAT: 'dddd, MMMM Do YYYY, h:mm:ss a', 

    // Authentication type. Either 'session' or 'token'.
    SERVER_AUTHENTICATION_TYPE: 'session',

    // Debug flag, boolean. When true, extra output is presented in the
    // Message area (at the bottom) and all messages are also routed
    // to the console.
    DEBUG: true,

    // Identifier for this client.
    USER_AGENT: 'rodan-standard',

    // Client admin info. Leave fields empty if you don't want to be bothered. ;)
    ADMIN_CLIENT: {
        name: '', // your name
        email: '' // your email
    },

    // Event timer frequency (ms).
    EVENT_TIMER_FREQUENCY: 3000,

    // Milliseconds to wait before the client goes into a 'wait' mode. This is used in the WorkflowBuilder when heavy lifting is going on, such as a Workflow import.
    SERVER_WAIT_TIMER: 500,

    // Settings for WorkflowBuilder GUI.
    WORKFLOWBUILDER: {

        // Zoom settings. These are percentages of the paper zoom.
        ZOOM_MAX: 2.0,
        ZOOM_MIM: 0.1,
        ZOOM_RATE: 0.1,

        // Item sizes. These are percentages of the canvas.
        WORKFLOWJOB_WIDTH: 0.2,
        WORKFLOWJOB_HEIGHT: 0.1,
        PORT_WIDTH: 0.02,
        PORT_HEIGHT: 0.02,

        // Appearance parameters.
        OUTPUTPORT_COLOR: '#00ff00',
        INPUTPORT_COLOR_SATISFIED: '#00ff00',
        INPUTPORT_COLOR_UNSATISFIED: '#ff0000',
        STROKE_COLOR: '#000000',
        FILL_COLOR: '#5555ff',
        WORKFLOWJOBGROUP_FILL_COLOR: '#8888ff',
        STROKE_WIDTH: 2,
        FONT_SIZE: 20,
        STROKE_COLOR_SELECTED: '#0000ff',
        STROKE_WIDTH_SELECTED: 3,
        CONNECTION_CIRCLE_RADIUS: 10,

        // Hover time. This is the amount of time the mouse must
        // hover over an item for a pop-up to appear in milliseconds.
        HOVER_TIME: 1000
    }
};

export default Configuration;