/**
 * This is a sample configuration file.
 * Make sure to make a copy and rename it to 'Configuration.js'.
 */
var Configuration = {

    // URL of the server to connect to.
    SERVER_URL: 'http://132.206.14.136',

    // Date/time format. See http://momentjs.com/docs/#/displaying/format/
    DATETIME_FORMAT: 'YYYY-MM-DD HH:mm:ss', 

    // Authentication type. Either 'session' or 'token'.
    SERVER_AUTHENTICATION_TYPE: 'token',

    // Debug flag, boolean. When true, extra output is presented in the
    // Message area (at the bottom) and all messages are also routed
    // to the console.
    DEBUG: true,

    // Identifier for this client.
    USER_AGENT: 'rodan-standard',

    // Client admin info. Leave fields empty if you don't want to be bothered. ;)
    ADMIN_CLIENT: {
        name: 'Ryan Bannon',
        email: 'ryan.bannon@gmail.com'
    },

    // Event timer frequency (ms).
    EVENT_TIMER_FREQUENCY: 3000,

    // Milliseconds to wait before the client goes into a 'wait' mode. This is used in the WorkflowBuilder when heavy lifting is going on, such as a Workflow import.
    SERVER_WAIT_TIMER: 500,

    // Milliseconds to wait before the client 'panics' mode. This is used in the WorkflowBuilder when heavy lifting is going on, such as a Workflow import.
    // This should be bigger than SERVER_WAIT_TIMER.
    SERVER_PANIC_TIMER: 8000,

    // If you have a Job package meant solely for distributing Resources (i.e. takes in a single Resource and outputs that Resource) you have the option to use a 
    // feature that will automatically create a WorkflowJob of the correct Job that satisfies selected InputPorts. If this is the case, those Jobs must have
    // their category set to the value of RESOURCE_DISTRIBUTOR_CATEGORY.
    RESOURCE_DISTRIBUTOR_CATEGORY: 'Resource Distributor',

    // Settings for WorkflowBuilder GUI.
    WORKFLOWBUILDER: {

        // Grid parameters.
        GRID:
        {
            DIMENSION: 25,
            LINE_COLOR: '#606060',
            LINE_WIDTH: 0.5  
        },

        // Zoom settings. These are percentages of the paper zoom.
        ZOOM_MAX: 3.0,
        ZOOM_MIN: 1.0,
        ZOOM_RATE: 0.05,
        ZOOM_INITIAL: 1.7,

        // Item sizes (pixels).
        WORKFLOWJOB_WIDTH: 20,
        WORKFLOWJOB_HEIGHT: 22,
        PORT_WIDTH: 8,
        PORT_HEIGHT: 8,

        // Appearance parameters.
        OUTPUTPORT_COLOR: '#00ff00',
        INPUTPORT_COLOR_SATISFIED: '#00ff00',
        INPUTPORT_COLOR_UNSATISFIED: '#ff8800',
        STROKE_COLOR: '#000000',
        FILL_COLOR: '#ccccff',
        WORKFLOWJOBGROUP_FILL_COLOR: '#8888ff',
        STROKE_WIDTH: 1,
        FONT_SIZE: 10,
        STROKE_COLOR_SELECTED: '#0000ff',
        STROKE_WIDTH_SELECTED: 2,
        CONNECTION_CIRCLE_RADIUS: 4,

        // Hover time. This is the amount of time the mouse must
        // hover over an item for a pop-up to appear in milliseconds.
        HOVER_TIME: 1000
    }
};

export default Configuration;