<h2>Workflow Job</h2>

Name: <input type="text" id="text-workflowjob_name" value="<%= name %>"><br/>
Job: <%= job_name %> - <%= job_description %><br/>
<button id="button-save_workflowjob_data">Save Workflow Job</button>
<button id="button-delete_workflowjob">Delete Workflow Job</button>
<button id="button-show_workflow">Back to Workflow</button>

<div id="region-main_workflowbuilder_control_workflowjob"></div>

<h3><span id="button-settings_toggle">Settings</span> | <span id="button-ports_toggle">Ports</span></h3>
<div id="region-main_workflowbuilder_control_settings"></div>
<div id="region-main_workflowbuilder_control_ports"></div>