<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VIS Rodan Client</title>
    <link rel="stylesheet" href="libs/github/twbs/bootstrap@3.3.4/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/default.css">
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
</head>
<body>

    <div id="app">
        <div class="container-fluid">
            <div class="row top">
                <div id="region-navigation" class="col-lg-2"></div>
                <div id="region-main" class="col-lg-10"></div>
            </div>
            <div class="row bottom">
                <div id="region-status" class="col-lg-12"></div>
            </div>
        </div>
    </div>

    {templates}

    <!--<script src="scripts/app.js" type="text/javascript"></script>-->
    <script type="text/javascript" src="libs/system.js"></script>
    <script type="text/javascript" src="config.js"></script>

    <!-- TODO - need to remove this...prefer import -->
    <script type="text/javascript" src="libs/paperjs-v0.9.22/dist/paper-full.js"></script>

    <script>
        System.import('twbs/bootstrap');
        System.import('js/VISRC_Application').then(function(application)
        {{
            var VISRC_Application = application.default;
            var app = new VISRC_Application();
            app.start();
        }});
    </script>
</body>
</html>
