<div class="fixed_individual">
    <h3>Workflow</h3>
    <label for="text-workflow_name">Name:</label>
    <input type="text" class="form-control input-sm" id="text-workflow_name" value="<%= _.escape(name) %>" name="text-workflow_name">
    <label for="text-workflow_description">Description:</label>
    <textarea type="text" class="form-control input-sm" id="text-workflow_description" name="text-workflow_description"><%= _.escape(description) %></textarea>
    Creator: <%= creator %><br>
    Created: <%= _.formatFromUTC(created) %><br>
    Updated: <%= _.formatFromUTC(updated) %><br>
    Valid: <%= valid %><br>
    <button class="btn btn-xs btn-warning" id="button-save_workflow">Save</button>
 <!--   <button class="btn btn-xs" id="button-run_workflow">Run</button>-->
    <button class="btn btn-xs" id="button-copy_workflow">Copy</button>
    <button class="btn btn-xs btn-warning" id="button-edit_workflow">Edit</button>
    <button class="btn btn-xs btn-danger" id="button-delete_workflow">Delete</button>
</div>