<div class="fixed_individual">
    Name: <input type="text" id="text-resource_name" value="<%= _.escape(name) %>" style="width: 100%"><br>
    Description: <textarea id="text-resource_description" rows="10" style="width: 100%; resize: none"><%= _.escape(description) %></textarea><br>
    Creator: <%= creator %><br>
    Created: <%= _.formatFromUTC(created) %><br>
    Updated: <%= _.formatFromUTC(updated) %><br>
    Type: <select id="select-resourcetype"></select><br>
    <button id="button-main_resource_individual_save">Save</button>
    <form style="display: inline" action="<%= viewer_url %>" method="get"><button>View/Download</button></form>
    <button id="button-main_resource_individual_delete">Delete</button>
</div>