<h3>Rodan</h3>
<button class="btn btn-xs btn-primary" id="button-navigation_about">About</button>
<button class="btn btn-xs btn-primary" id="button-navigation_help">Help</button>
<!--<button class="btn btn-xs btn-primary" id="" disabled>Preferences</button>-->
<button class="btn btn-xs btn-danger" id="button-navigation_logout" disabled>Logout</button>
<br>
<!--
Uploads pending: <span id="navigation-upload_count_pending"></span><br>
Uploads completed: <span id="navigation-upload_count_completed"></span><br>
Uploads failed: <span id="navigation-upload_count_failed"></span>-->
<hr>
<nav>
    <ul id="region-navigation_tree"></ul>
</nav>