<h3>Rodan</h3>
<div class="btn-group" role="group">
	<button class="btn btn-xs btn-primary" id="button-navigation_about">About</button>
	<button class="btn btn-xs btn-primary" id="button-navigation_dev">Dev</button>
	<button class="btn btn-xs btn-primary" id="button-navigation_help">Help</button>
	<button class="btn btn-xs btn-primary" id="button-navigation_preferences" disabled>Preferences</button>
	<button class="btn btn-xs btn-danger" id="button-navigation_logout" disabled>Logout</button>
</div>
<br>
<br>
<div id="region-status"></div>
<!--
Uploads pending: <span id="navigation-upload_count_pending"></span><br>
Uploads completed: <span id="navigation-upload_count_completed"></span><br>
Uploads failed: <span id="navigation-upload_count_failed"></span>-->
<nav>
    <ul id="region-navigation_tree"></ul>
</nav>