/**
 * Styles for Rodan client.
 */

/**************************************************************************************
 * General parameters
 *************************************************************************************/
/* Navigation area */
$background-color-navigation: #000000;
$text-color-navigation: #cccccc;
$text-color-navigation-logout: #000000;

/* Status area */
$background-color-status: #000000;
$text-color-status-user: #cccccc;
$text-color-status-user: #cccccc;
$text-color-status-server: #cccccc;

/* Main area */
$background-color-main: #ffffff;

/* WorkflowBuilder area */
$background-color-workflowbuilder-workspace: #dddddd;

/* WorkflowBuilder control area */
$background-color-workflowbuilder-control: #ffffff;

/**************************************************************************************
 * DO NOT TOUCH unless you know what you're doing.
 *************************************************************************************/
$height-bottom: 8; // % of vertical space in viewport
$height-top: 92; // % of vertical space in viewport
$size-font: 0.8; // % of viewport widht to define font size

.vertical-center {
    height: $height-top + %; //fallback
    height: $height-top + vh;
    display: flex;
    align-items: center;
}

.horizontal-center
{
    width: 100%;
    text-align: center;
}

body
{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $size-font + vw;
}

textarea {
    width: 100%;
    resize: none
}

div.fixed_individual {
    position: fixed;
    width: 25%;
}

div.top {
    height: $height-top + %; //fallback
    height: $height-top + vh;
}

div.bottom {
    height: $height-bottom + %; //fallback
    height: $height-bottom + vh;
}

div#region-navigation 
{
    background: $background-color-navigation;
    height: 100%;
    color: $text-color-navigation;
    overflow-y: auto;
    overflow-x: hidden;
}

div#region-navigation ul
{
    list-style-type: disc;
    margin: 0;
    padding-left: 10px;
}

button#button-navigation_logout
{
    color: $text-color-navigation-logout;
}

div#region-status
{
    background: $background-color-status;
    height: 100%;
}

div#region-status_user 
{
    height: 100%;
    color: $text-color-status-user;
}

div#region-status_message 
{
    height: 100%;
    color: $text-color-status-user;
}

div#region-status_server
{
    height: 100%;
    color: $text-color-status-server;
}

div#region-main
{
    background-image: url("resources/rodan.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    overflow: auto;
}

div#canvas-wrap
{
    height: 100%;
    overflow-y: hidden;
    padding: 0px;
}

div#canvas-tooltip
{
    position: fixed; 
    background-color: #ffff88;
    margin-left: 3px;
    padding: 2px;
    height: auto;
    border-style: solid;
    border-width: 2px;
    width: 200px;
    visiblity: visible;
}

canvas#canvas-workspace 
{
    background-color: $background-color-workflowbuilder-workspace;
    height: 100%;
    width: 100%;
    padding: 0px;
}

div#region-main_workflowbuilder_control
{
    background-color: $background-color-workflowbuilder-control;
    height: 100%;
}

div#main_workflowbuilder
{
    background-color: white;
    height: 100%;
    overflow: auto;
}

th.sort-ascending .glyphicon .glyphicon-arrow-up
{
    font-family: Arial, Helvetica, sans-serif; 
}

.instruction
{
    font-style: italic;
}

:disabled
{
    background: #dddddd;
}
