/**
 * Styles for Rodan-VIS client.
 */

/**************************************************************************************
 * General parameters
 *************************************************************************************/
/* Navigation area */
$background-color-navigation-gradient_left: #000000;
$background-color-navigation-gradient_right: #333333;
$text-color-navigation: #cccccc;

/* Status area - User */
$background-color-status-user-gradient_left: #000000;
$background-color-status-user-gradient_right: #333333;
$text-color-status-user: #cccccc;

/* Status area - Messages */
$background-color-status_message: #333333;
$text-color-status-user: #cccccc;

/* Status area - Server */
$background-color-status-server-gradient_left: #333333;
$background-color-status-server-gradient_right: #555555;
$text-color-status-server: #cccccc;

/* Main area */
$background-color-main: #ffffff;

/* WorkflowBuilder area */
$background-color-workflowbuilder-workspace: #dddddd;

/* WorkflowBuilder control area */
$background-color-workflowbuilder-control: #bbbbbb;

/**************************************************************************************
 * DIVs - DO NOT TOUCH unless you know what you're doing.
 *************************************************************************************/
$height-bottom: 5; // % of vertical space in viewport
$height-top: 95; // % of vertical space in viewport
div.top {
    height: $height-top + %; //fallback
    height: $height-top + vh;
}

div.bottom {
    height: $height-bottom + %; //fallback
    height: $height-bottom + vh;
}

div#region-navigation 
{
    background: linear-gradient(to right, 
                                $background-color-navigation-gradient_left,
                                $background-color-navigation-gradient_right);
    height: 100%;
    color: $text-color-navigation;
}

div#region-navigation ul
{
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
}

div#region-status_user 
{
    background: linear-gradient(to right, 
                                $background-color-status-user-gradient_left,
                                $background-color-status-user-gradient_right);
    height: 100%;
    color: $text-color-status-user;
}

div#region-status_message 
{
    background-color: $background-color-status_message;
    height: 100%;
    color: $text-color-status-user;
}

div#region-status_server
{
    background: linear-gradient(to right, 
                                $background-color-status-server-gradient_left,
                                $background-color-status-server-gradient_right);
    height: 100%;
    color: $text-color-status-server;
}

div#region-main
{
    background-color: $background-color-main;
    height: 100%;
}

canvas#canvas-workspace 
{
    background-color: $background-color-workflowbuilder-workspace;
    height: 100%;
}

div#region-main_workflowbuilder_control
{
    background-color: $background-color-workflowbuilder-control;
    height: 100%;
}